[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "==10.3.0"
social-auth-app-django = "==5.4.0"
django-extensions = "==3.2.3"
werkzeug = "==3.0.2"
pyopenssl = "==24.1.0"
django-decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
